{% extends "base.html" %}
{% block content %}

   
<h2>Your Service History</h2>

<table>
    <tr>
        <th>Service no</th>
        <th>Mileage</th>
        <th>Work Carried Out</th>
        <th>Date of Service</th>
        <th>Garage</th>
        <th>Edit/Delete</th>
    </tr>
    {% for service_info in service_history %}
    <tr>
        <td>{{ service_info.service_no }}</td>
        <td>{{ service_info.mileage }}</td>
        <td>{{ service_info.work_completed }}</td>
        <td>{{ service_info.date_of_service}}</td>
        <td>{{ service_info.garage }}</td>
        <td>{{ service_info.edit }}
            <a href="#"class="btn-default btn-sm" aria-label="Delete" title="Delete"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            <a href="#" rel="noopener noreferrer" class="btn-default btn-sm" aria-label="Edit" title="Edit"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
